<head>
  <title><%= t(:site_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="pull-left" id="box-left">
        <h1 class="logo"><%= t(:megrez) %></h1>
        <span class="slogan"><%= t(:slogan) %></span>
      </div>
      <div class="pull-right" id="box-right">
        <div id="login">
          <form action="/login" method="post">
            <a class="action-a white-text light-text-shadow pull-right" id="js-switch-signup"><%= t(:sign_up) %> <i class="fa fa-arrow-circle-right"></i></a>
            <label class="white-text light-text-shadow"><%= t(:sign_in_alt) %></label>
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="">
            <input class="form-control fit-box" name="session[username]" type="text" placeholder="<%= t :username %>">
            <input class="form-control fit-box" name="session[password]" type="password" placeholder="<%= t :password %>">
            <button type="submit" class="btn btn-primary fit-box"><%= t(:sign_in) %></button>
            <label class="white-text light-text-shadow">
              <input type="checkbox" value="remember_me"> <%= t(:remember_me) %>
            </label>
          </form>
        </div>
        <div id="signup">
          <form action="/users" method="post">
            <a class="action-a white-text light-text-shadow pull-right" id="js-switch-login"><%= t(:sign_in) %> <i class="fa fa-arrow-circle-right"></i></a>
            <label class="white-text light-text-shadow"><%= t(:sign_up_alt) %></label>
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="">
            <input class="form-control fit-box" name="user[username]" type="text" placeholder="<%= t :username %>">
            <input class="form-control fit-box" name="user[email]" type="text" placeholder="<%= t :email %>">
            <input class="form-control fit-box" name="user[password]" type="password" placeholder="<%= t :password %>">
            <span class="glyphicon glyphicon-eye-open pull-right" id="showkey"></span>
            <button type="submit" class="btn btn-primary fit-box"><%= t(:sign_up) %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="content">
      <div class="col" id="col1">
        <div class="grid">
          <%= fa_icon 'comments-o', class: 'fa-fw item' %>
          <h2 class="item-title"><%= t(:title_forum) %></h2>
          <hr>
          <ul>
            <li><%= t(:forum_item1) %></li>
            <li><%= t(:forum_item2) %></li>
            <li><%= t(:forum_item3) %></li>
          </ul>
        </div>
      </div>
      <div class="col" id="col2">
        <div class="grid">
          <%= fa_icon 'files-o', class: 'fa-fw item' %>
          <h2 class="item-title"><%= t(:title_file) %></h2>
          <hr>
          <ul>
            <li><%= t(:file_item1) %></li>
            <li><%= t(:file_item2) %></li>
            <li><%= t(:file_item3) %></li>
          </ul>
        </div>
      </div>
      <div class="col" id="col3">
        <div class="grid">
          <%= fa_icon 'edit', class: 'fa-fw item', id: 'item-3' %>
          <h2 class="item-title"><%= t(:title_assign) %></h2>
          <hr>
          <ul>
            <li><%= t(:assign_item1) %></li>
            <li><%= t(:assign_item2) %></li>
            <li><%= t(:assign_item3) %></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render 'shared/footer.html.erb' %>
    </div>
  </div>
</body>