<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="pull-left" id="box-left">
        <h1 class="logo">乐学网</h1>
        <span class="slogan">哈工大交互式网络教学平台</span>
      </div>
      <div class="pull-right" id="box-right">
        <div id="login">
          <form action="/login" method="post">
            <a class="action-a white-text light-text-shadow pull-right" id="js-switch-signup">注册 <i class="fa fa-arrow-circle-right"></i></a>
            <label class="white-text light-text-shadow">登录乐学网</label>
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="">
            <input class="form-control fit-box" name="session[username]" type="text" placeholder="用户名">
            <input class="form-control fit-box" name="session[password]" type="password" placeholder="密码">
            <button type="submit" class="btn btn-primary fit-box">登录</button>
            <label class="white-text light-text-shadow">
              <input type="checkbox" value="remember_me"> 记住我
            </label>
          </form>
        </div>
        <div id="signup">
          <form action="/users" method="post">
            <a class="action-a white-text light-text-shadow pull-right" id="js-switch-login">登录 <i class="fa fa-arrow-circle-right"></i></a>
            <label class="white-text light-text-shadow">注册账号</label>
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="">
            <input class="form-control fit-box" name="user[username]" type="text" placeholder="用户名">
            <input class="form-control fit-box" name="user[email]" type="text" placeholder="电子邮件">
            <input class="form-control fit-box" name="user[password]" type="password" placeholder="密码">
            <button type="submit" class="btn btn-primary fit-box">注册</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="content">
      <div class="col" id="col1">
        <div class="grid">
          <%= fa_icon 'comments-o', class: 'fa-fw item' %>
          <h2 class="item-title">交流空间</h2>
          <hr>
          <ul>
            <li>一个自由研习、畅聊的地方；</li>
            <li>在这里提出你的疑问，展示你独一无二的想法；</li>
            <li>分享他人的思维精华，让互帮互助成为一种学习方式；</li>
          </ul>
        </div>
      </div>
      <div class="col" id="col2">
        <div class="grid">
          <%= fa_icon 'files-o', class: 'fa-fw item' %>
          <h2 class="item-title">文件助手</h2>
          <hr>
          <ul>
            <li>灵活、便捷地管理你的文件；</li>
            <li>人性化的分类与管理策略；</li>
            <li>作业管理与分享资料从此变得如此方便</li>
          </ul>
        </div>
      </div>
      <div class="col" id="col3">
        <div class="grid">
          <%= fa_icon 'edit', class: 'fa-fw item', id: 'item-3' %>
          <h2 class="item-title">作业提交</h2>
          <hr>
          <ul>
            <li>实时，方便的作业提交系统；</li>
            <li>人性化的提醒，免除记忆的烦恼，让你不再忘记作业的提交；</li>
            <li>多元化的提交方式，从本地，从网盘，总有一种方式适合你;</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render 'shared/footer.html.erb' %>
    </div>
  </div>
</body>