<head>
  <title><%= t :site_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar.html.erb' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <legend class="text-center"><%= t :sign_in %></legend>
        <form action="/login" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="">
          <label><%= t :username %></label>
          <input class="form-control fit-box" name="session[username]" type="text" placeholder="<%= t :username %>">
          <label><%= t :password %></label>
          <input class="form-control fit-box" name="session[password]" type="password" placeholder="<%= t :password %>">
          <br>
          <button type="submit" class="btn btn-primary form-control fit-box"><%= t :sign_in %></button>
          <label><br><input type="checkbox" value="remember_me"> <%= t :remember_me %></label>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="footer">
      <%= render 'shared/footer.html.erb' %>
    </div>
  </div>
</body>