<head>
  <title>乐学网 - 哈工大交互式网络教学平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar.html.erb' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <legend class="text-center">登录</legend>
        <form action="/login" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="">
          <label>用户名</label>
          <input class="form-control fit-box" name="session[username]" type="text" placeholder="用户名">
          <label>密码</label>
          <input class="form-control fit-box" name="session[password]" type="password" placeholder="密码">
          <br>
          <button type="submit" class="btn btn-primary form-control fit-box">登录</button>
          <label><br><input type="checkbox" value="remember_me"> 记住我</label>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="footer">
      <%= render 'shared/footer.html.erb' %>
    </div>
  </div>
</body>