<% if topic_author == r.user.id %>
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <div class="bubble arrow-right">
        <span class='tail'>&nbsp;</span>
        <span class='reply-author'><%= link_to "@#{r.user.username}(#{r.user.realname})", profile_path(r.user.username) %></span> <%= t :topic_author %>
      <span class='reply-time'> <%= t :last_updated_at %><%= r.updated_at.strftime('%Y-%m-%d %H:%M') %></span>
        <%= r.body.html_safe %>
      </div>
    </div>
    <div class="pull-right" >
      <a name="reply-<%= r.id %>"></a>
      <%= image_tag r.user.avatar, width: 48, height: 48, class: 'reply-avatar' %>
    </div>
  </div>
<% else %>

<div class="row">
  <div class="col-md-1">
    <a name="reply-<%= r.id %>"></a>
    <%= image_tag r.user.avatar, width: 48, height: 48, class: 'reply-avatar' %>
  </div>
  <div class="col-md-11">
    <div class="bubble arrow-left">
      <span class='tail'>&nbsp;</span>
      <span class='reply-author'><%= link_to "@#{r.user.username}(#{r.user.realname})", profile_path(r.user.username) %></span>
    <span class='reply-time'> <%= t :last_updated_at %><%= r.updated_at.strftime('%Y-%m-%d %H:%M') %></span>
      <%= r.body.html_safe %>
    </div>
  </div>
</div>

<% end %>