<div class="row">
  <div class="col-md-3">
    <%= render 'sidelist' %>
  </div>
  <div class="col-md-9">
    <%= form_for @assignment, url: course_assignment_path(course_id: params[:course_id], id: params[:id]) do |f| %>
      <legend><%= t(:title) %></legend>
      <%= f.label :title, t(:title) %>
      <%= f.text_field :title, class: 'form-control' %>
      <br>
      <%= f.label :title, t(:description) %>
      <%= f.text_area :description, class: 'form-control' %>
      <br>
      <%= f.label :title, t(:due_to) %>
      <%= f.datetime_select :due_to %>
      <br>
      <br>
      <%= f.submit t(:submit), class: 'btn btn-primary' %>
      <%= link_to t(:back), course_assignment_path(course_id: params[:course_id], id: @assignment.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>