<div class="row">
  <div class="col-md-3">
    <%= render 'sidelist' %>
  </div>
  <div class="col-md-9">
    <%= form_for @assignment, url: course_assignments_path(course_id: params[:course_id]) do |f| %>
      <legend><%= t(:add_assignment) %></legend>
      <%= f.hidden_field :course_id, value: params[:course_id] %>
      <%= f.label :title, t(:title) %>
      <%= f.text_field :title, placeholder: t(:title), class: 'form-control' %>
      <br>
      <%= f.label :title, t(:description) %>
      <%= f.text_area :description, placeholder: t(:description), class: 'form-control' %>
      <br>
      <%= f.label :title, t(:due_to) %>
      <%= f.datetime_select :due_to %>
      <br>
      <br>
      <%= f.submit t(:submit_assignment), class: 'btn btn-primary' %>
      <%= link_to t(:back), course_assignments_path(course_id: params[:course_id]), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>