<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:site_title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      function startTime()
      {
        var now = new Date()
        var end = <%= @assignment.due_to - DateTime.parse("1970-1-1") %>
        var left = Math.floor(end - now.getTime() / 1000.0)
        var day = Math.floor(left / 86400)
        left = left % 86400
        var hour = Math.floor(left / 3600)
        left = left % 3600
        var min = Math.floor(left / 60)
        left = left % 60
        if (left >= 0)
          document.getElementById('countdown').innerHTML = day + " <%= t(:day) %> " + hour + " <%= t(:hour) %> " + min + " <%= t(:minute) %> " + left + " <%= t(:second) %>"
        else {
          document.getElementById('countdown').innerHTML = "<%= t(:finished) %>"
          document.getElementById('submit_file_link').style.display = 'none'
        }
        t = setTimeout('startTime()', 500)
      }
    </script>
  </head>

  <body onload="startTime()">

    <%= render 'shared/navbar.html.erb' %>

    <% @course = Course.find(params[:course_id]) %>

    <div class="container">
      <div class="row">
        <div id="course-info">
          <%= render partial: 'courses/header.html.erb' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <%= render partial: 'courses/nav.html.erb' %>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <%= render 'sidelist' %>
        </div>
        <div class="col-md-9">
          <legend><p><%= @assignment.title %> <span class="label label-warning" id="countdown"></span></p></legend>
          <p><%= t(:start_at) %><%= @assignment.start_time %><br><%= t(:end_at) %><%= @assignment.end_time %></p>
          <hr>
          <p style="white-space:pre-line"><%= @assignment.description %></p>
          <hr>
          <% unless @target_folder.nil? || @files.nil? %>
            <p><%= t(:submitted) %></p>
            <p><%= t(:submissions) %></p>
            <%= form_tag controller: "files", action: "operation_multiple" do %>
            <span class="folder_menu" id="download_multiple" style="display: none">
              <%= fa_icon('download') %>
              <%= submit_tag t(:download_selection), :name => 'form_1[download_multiple]', class: "submit_to_link" %>
            </span>
            <span class="folder_menu" id="delete_multiple" style="display: none">
              <%= fa_icon('remove') %>
              <%= submit_tag t(:delete_selection), :name => 'form_1[destroy_multiple]', class: "submit_to_link" %>
            </span>
            <table class="table table-hover">
            <tr>
              <th></th>
              <th></th>
              <th><%= t :name %></th>
              <th><%= t :type %></th>
              <th><%= t :size %></th>
              <th><%= t :date_modified %></th>
              <th></th>
            </tr>
            <tbody>
            <% @files.each do |file| -%>
              <tr class="odd" onmouseover="display_options(this);" onmouseout="hide_options(this);" onclick="item_click(this);">
                <td onclick="stop_bubble(this.id);"><%= check_box_tag "id[]", file.id, false, {:class => "chkbox", :onclick => "check_click();"} %></td>
                <td><%= file_icon(file) %></td>
                <td class="file_name"><%= link_to file.attachment_file_name, file_path(file), :title => "#{t(:download)} #{file.attachment_file_name}" %></td>
                <td class="file_type"><%= file.filetype_to_human %></td>
                <td class="file_size"><%= number_to_human_size(file.attachment_file_size, :locale => I18n.locale) %></td>
                <td class="file_modified"><%= l file.updated_at.localtime, :format => :short %></td>
                <td class="options" onclick="stop_bubble(this.id);">
                <% if current_user.creator_of_course?(@course.id) -%>
                  <%= link_to fa_icon("edit"), edit_file_path(file), :title => t(:edit), :class => 'options', :style => 'color:#FFF' %>&nbsp;
                  <%= link_to fa_icon("remove"), file_path(file), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item), :class => 'options', :style => 'color:#FFF' %>&nbsp;
                <% end -%>
                <%= link_to fa_icon("clipboard"),
                  { :controller => :clipboard, :action => :create, :id => file.id, :type => 'file', :folder_id => @folder, :authenticity_token => form_authenticity_token }, :method => :post, :title => t(:add_to_clipboard), :class => 'options', :style => 'color:#FFF' %>&nbsp;
                <% if file.mime_type == 'image' then %>
                  <%= link_to fa_icon("search"), file.attachment.url, :rel => "shadowbox", :title => t(:preview), :class => 'options', :style => 'color:#FFF' %>
                <% else %>
                  <%= link_to fa_icon("search"), { :controller => :files, :action => :preview, :id => file.id }, :rel => "shadowbox;width=800;height=600", :title => t(:preview), :class => 'options', :style => 'color:#FFF' %>
                <% end %>
                </td>
              </tr>
            <% end -%>
            </tbody>
            </table>
            <% end %>
          <% else %>
            <p><%= t(:not_submitted) %></p>
          <% end %>
          <hr>
          <%= link_to t(:submit_file), submit_course_assignment_path(course_id: params[:course_id], id: params[:id]), id: "submit_file_link" %>
          <% if current_user.creator_of_course?(@course.id) -%>
            <%= link_to t(:edit), edit_course_assignment_path(course_id: params[:course_id], id: params[:id]) %>
          <% end -%>
          <%= link_to t(:back), course_assignments_path(course_id: params[:course_id]) %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render 'shared/footer.html.erb' %>
    </div>

  </body>
</html>
