<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= t(:title) %></h1>
    <%= form_for @node do |f| %>
      <%= f.label :name, t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :icon, t(:icon) %>
      <%= f.text_field :icon, class: 'form-control' %>
      <br>
      <%= f.submit t(:submit), disable_with: t(:editing), class: 'btn btn-primary form-control' %>
    <% end %>
    <br>
    <%= link_to t(:back), node_path(id: params[:id]), class: 'btn btn-primary' %>
  </div>
</div>