<div class="row">
  <div id="forum-sidebar" class="col-md-3 forum-sidebar-wrap">
    <div class="forum-sidebar-header btn-group btn-breadcrumb">
      <%= render partial: 'nodes/nav.html.erb' %>
    </div>
    <div id="forum-sidebar-content" class="forum-sidebar-content">
      <%= render partial: 'nodes/index.html.erb' %>
    </div>
    <div class="forum-sidebar-footer">
      <button id='new_node' class='btn btn-primary btn-block' data-href=<%= new_course_node_path(course_id: params[:course_id], father_id: -1, format: 'partial') %> >
      <%= t(:new_forum) %>
      </button>
    </div>
  </div>
  <div class="col-md-8 forum-content-wrap paper has-shadow">
    <div id="forum-content" class="forum-content">
      <%= render partial: 'nodes/new.html.erb' %>
    </div>
  </div>
</div>
</div>