<div>
  <div class="user-avatar pull-right">
    <%= image_tag(@topic.user.avatar, wight: 64, height: 64) %>
  </div>
  <h2><%= @topic.title %></h2>
  <div>
    <span class="topic-author"><%= @topic.user.username %></span> <span class="topic-time"><%= @topic.created_at %></span>
  </div>
</div>
<hr>

<div><%= @topic.body.html_safe %></div>
<div id="replies">
  <% @topic.replies.each do |r| %>
    <%= render partial: 'replies/reply.html.erb', locals: {r: r} %>
  <% end %>
</div>

<div>
  <%= render partial: 'replies/quick.html.erb' %>
</div>