<div class="row">
  <div class="col-md-3">
    <%= render partial: 'info.html.erb' %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-7">
        <ul class="timeline">
          <% @courses.each do |course| %>
            <% @assignments = course.latest_assignments %>
            <% @assignments.each do |assignment| %>
              <% if assignment.very_important? %>
                <li>
                  <div class="timeline-badge danger"><i class="fa fa-fw fa-credit-card"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= t :to_deadline %> <%= link_to course.full_name, course_path(id: course.id) %>/<%= link_to assignment.title, course_assignment_path(course_id: course.id, id: assignment.id) %></h4>
                      <p><i class="fa fa-fw fa-clock-o"></i><%= t :left_time %><%= render partial: 'time.html.erb', locals: {hour: assignment.remain_hour, min: assignment.remain_minute, sec: assignment.remain_second} %></p>
                    </div>
                    <div class="timeline-body">
                      <p></p>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">我的课程</p>
          </div>
          <ul class="list-group">
            <% @courses.each do |course| %>
              <li class="list-group-item">
                <%= link_to fa_icon("home", text: course.full_name, class: 'fa-fw fa-lg'), course_path(id: course.id) %>
                <% if @user.creator_of_course?(course.id) %>
                  <span class="badge"><%= t :creator %></span>
                <% else %>
                  <span class="badge"><%= t :member %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  
