<div class="row">
  <div class="col-md-3">
    <%= render partial: 'info.html.erb' %>
  </div>
  <div class="col-md-9">
    <%= bootstrap_form_for(@user, layout: :horizontal, :html => { :multipart => true }) do |f| %>
      <legend><%= t :personal_information %></legend>
      <%= f.text_field :username, label: t(:username) %>
      <%= f.text_field :realname, label: t(:realname) %>
      <%= f.password_field :password, label: t(:password) %>
      <%= f.text_field :email, label: t(:email) %>
      <%= f.file_field :avatar, label: t(:avatar) %>
      <%= f.select :preferred_lang, [["English", "en"], ["中文（简体）", "zh-CN"]], { label: t(:preferred_language) }, { class: 'selectpicker'} %>
      <%= f.submit t(:submit_user), class: 'btn btn-default form-control' %>
    <% end %>
    <br>
    <%= link_to t(:back), :back, class: 'btn btn-primary form-control' %>
  </div>
</div>
