<div class="row">

  <div class="col-md-3">
    <div class="panel-group" id="mainlist">

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseOne">
              <span class="glyphicon glyphicon-th-large"></span> 总览
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-book"></span><a href="#"> 课程信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-pencil"></span><a href="#"> 作业管理</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list-alt"></span><a href="#"> 统计信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-off"></span><a href="#"> 登出</a></td></tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseTwo">
              <span class="glyphicon glyphicon-tags"></span> 成绩管理
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseTwo">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-tasks"></span><a href="<%= course_items_path(course_id: params[:id]) %>"> 设置分数项</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-tower"></span><a href="<%= grade_course_path(id: params[:id]) %>"> 评分</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list"></span><a href="#"> 查看报表</a></td></tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-9">
    <legend>学生信息</legend>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>用户名</th>
          <th>姓名</th>
          <th>电子邮箱</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.username %></td>
          <td><%= @user.realname %></td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
    <legend>评分</legend>
    <% @items.each_with_index do |item, index| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p class="panel-title"><%= "#{index + 1}. #{item.name} (#{item.weight}%)" %></p>
        </div>
        <div class="panel-body">
          <% unless item.children.empty? %>
            <% item.children.each do |s| %>
              <%= render partial: 'values/item.html.erb', locals: {n: s} %>
            <% end %>
          <% else %>
            <%= render partial: 'values/item.html.erb', locals: {n: item} %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to (fa_icon 'arrow-left', text: '返回', class: 'fa-fw'), grade_course_path(id: params[:id]), class: 'btn btn-primary' %>
      <%= link_to (fa_icon 'envelope-o', text: '发送邮件通知', class: 'fa-fw'), '#', data: { confirm: "Do you want to send an email to #{@user.email}?" }, class: 'btn btn-primary' %>
    </div>
  </div>

</div>

