<html>
<head>
</head>
<body bgcolor="white">
<% case @type[0] %>
<% when "text" then %>
  <%= raw(coderay @file) %>

<% when "image" then %>
  <%= image_tag file_path(@file), :class => 'image_size' %>

<% when "application" then %>
  <% case @type[1] %>
  <% when "pdf" then %>
    <%= content_tag(:object, "", data: @file.attachment.url, type: "application/pdf", width: "800", height: "600") %>
  <% else %>
    <%= raw(coderay @file) %>
  <% end %>

<% else %>
  <p>We are still working on the support of <%= @file.extension %> now :-)</p>
<% end %>
</body>

</html>
