<% if activity.trackable && activity.trackable.course_id == @course.id %>
  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
      <div class="message-inner">
        <div class="message-head clearfix">
          <div class="user-detail">
            <h5 class="handle">
              <%= link_to activity.owner.realname, profile_path(activity.owner.username) if activity.owner %>
              <%= t :issued_a_new_assignment %>
              <%= link_to activity.trackable.title, course_assignment_path(course_id: activity.trackable.course_id, id: activity.trackable.id) %>
              <%= t :in_course %>
              <%= link_to @course.full_name, course_path(id: @course.id) %>
            </h5>
          </div>
        </div>
        <div class="qa-message-content">
          <%= render partial: 'public_activity/time.html.erb', locals: {dest: activity} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

