<div class="row">

  <div class="col-md-3">
    <%= render partial: 'courses/sidelist.html.erb', locals: {cid: params[:course_id]} %>
  </div>

  <div class="col-md-9 bs-component">
    <div class="row">
      <div class="col-md-12">
        <%= link_to t(:new_item), new_course_item_path(course_id: params[:course_id]), class: 'btn btn-primary' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <% if @items %>
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th><%= t :nr %></th>
                <th><%= t :name %></th>
                <th><%= t :weight %></th>
                <th><%= t :option %></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each_with_index do |sheet, index| %>
                <%= render partial: 'list.html.erb', locals: {sheet: sheet, index: index + 1, sub: false}, layout: false %>
                <% if c = sheet.children %>
                  <% c.each do |s| %>
                    <%= render partial: 'list.html.erb', locals: {sheet: s, index: '', sub: true}, layout: false %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
