<div class="panel-group" id="mainlist">

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#mainlist" href="#collapseOne">
          <span class="fa fa-fw fa-lg fa-th-large"></span> <%= t :overview %>
        </a>
      </p>
    </div>
    <ul class="list-group collapse in" id="collapseOne">
      <li class="list-group-item"><span class="fa fa-fw fa-book"></span><a href="<%= info_course_path(id: cid) %>"> <%= t :course_info %></a></li>
      <% if current_user.creator_of_course?(cid) %>
        <li class="list-group-item"><span class="fa fa-fw fa-pencil"></span><a href="<%= assignment_management_course_path(id: cid) %>"> <%= t :assignment_admin %></a></li>
      <% end %>
      <li class="list-group-item"><span class="fa fa-fw fa-list-alt"></span><a href="<%= statistics_course_path(id: cid) %>"> <%= t :stat %></a></li>
      <li class="list-group-item"><span class="fa fa-fw fa-remove"></span><a href="/logout" data-method="delete"> <%= t :logoff %></a></li>
    </ul>
  </div>
  <% if current_user.creator_of_course?(cid) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-parent="#mainlist" href="#collapseTwo">
            <span class="fa fa-fw fa-lg fa-sitemap"></span> <%= t :grades_admin %>
          </a>
        </p>
      </div>
      <ul class="list-group collapse in" id="collapseTwo">
        <li class="list-group-item"><span class="fa fa-fw fa-tasks"></span><a id="set-item" href="<%= course_items_path(course_id: cid) %>"> <%= t :set_items %></a></li>
        <li class="list-group-item"><span class="fa fa-fw fa-flag"></span><a id="grade-student" href="<%= grade_course_path(id: cid) %>"> <%= t :grade %></a></li>
        <li class="list-group-item"><span class="fa fa-fw fa-list"></span><a id="final-report" href="<%= final_course_path(id: cid) %>"> <%= t :see_final %></a></li>
      </ul>
    </div>
  <% end %>

</div>

<% if current_user.creator_of_course?(cid) %>
  <a href=<%= course_path(id: cid) %> class="btn btn-danger btn-block" data-method="delete" data-confirm='你真的打算删除此门课程？'><i class="fa fa-fw fa-times"></i> <%= t :delete_course %></a></li>
<% else %>
  <a href=<%= leave_course_path(id: cid) %> class="btn btn-danger btn-block" data-method="delete" data-confirm='你真的打算退出此门课程？'><i class="fa fa-fw fa-times"></i> <%= t :leave_course %></a></li>
<% end %>
