<div class="panel-group" id="mainlist">

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#mainlist" href="#collapseOne">
          <span class="fa fa-fw fa-lg fa-th-large"></span> <%= t :overview %>
        </a>
      </p>
    </div>
    <div class="panel-collapse collapse in" id="collapseOne">
      <table class="table">
        <tr><td><span class="fa fa-fw fa-book"></span><a href="#"> <%= t :course_info %></a></td></tr>
        <tr><td><span class="fa fa-fw fa-pencil"></span><a href="#"> <%= t :assignment_admin %></a></td></tr>
        <tr><td><span class="fa fa-fw fa-list-alt"></span><a href="#"> <%= t :stat %></a></td></tr>
        <tr><td><span class="fa fa-fw fa-remove"></span><a href="#"> <%= t :logoff %></a></td></tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#mainlist" href="#collapseTwo">
          <span class="fa fa-fw fa-lg fa-sitemap"></span> <%= t :grades_admin %>
        </a>
      </p>
    </div>
    <div class="panel-collapse collapse in" id="collapseTwo">
      <table class="table">
        <tr><td><span class="fa fa-fw fa-tasks"></span><a id="set-item" href="<%= course_items_path(course_id: cid) %>"> <%= t :set_items %></a></td></tr>
        <tr><td><span class="fa fa-fw fa-flag"></span><a id="grade-student" href="<%= grade_course_path(id: cid) %>"> <%= t :grade %></a></td></tr>
        <tr><td><span class="fa fa-fw fa-list"></span><a id="final-report" href="<%= final_course_path(id: cid) %>"> <%= t :see_final %></a></td></tr>
      </table>
    </div>
  </div>

</div>
