<table class="table table-hover">
  <tr>
    <th></th>
    <th><%= t :name %></th>
    <th><%= t :size %></th>
    <th><%= t :date_modified %></th>
    <th></th>
  </tr>
  <tbody>
    <% @folders.each do |folder| -%>
      <tr onmouseover="display_options(this);" onmouseout="hide_options(this);" onclick="item_click(this);">
        <td><%= fa_icon('folder-open-o') %></td>
        <td class="file_name"><%= link_to folder.tname, folder %></td>
        <td class="file_type"><%= t(:folder).capitalize %></td>
        <td class="file_modified"><%= l folder.updated_at.localtime, :format => :short %></td>
        <td class="options" onclick="stop_bubble(this.id);"></td>
      </tr>
    <% end -%>
  </tbody>
</table>