<div class="row">

  <div class="col-md-3">
    <%= render partial: 'courses/sidelist.html.erb', locals: {cid: params[:id]} %>
  </div>

  <div class="col-md-9">
    <% if @users %>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>成绩</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= user.username %></td>
              <td><%= user.realname %></td>
              <td><%= user.final(params[:id]).nil? ? 'Ungrade' : user.final(params[:id]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

</div>
