<!DOCTYPE html>
<html>
<head>
  <title>乐学网 - 哈工大交互式网络教学平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    body, html {
      height: 100%;
    }
  </style>
</head>
<body>

  <%= render 'shared/navbar.html.erb' %>

  <div class="container">
    <div class="row">
      <div id="course-info">
        <%= render partial: 'header.html.erb' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= render partial: 'nav.html.erb' %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 forum-sidebar">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Snippets</a>
            <a href="#" class="btn btn-default">Breadcrumbs</a>
        </div>
      </div>
      <div class="col-md-8 forum-content modal">
        <div class="modal-dialog">
          asdf
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'shared/footer.html.erb' %>
  </div>

</body>
</html>