    <div class="row">
      <div id="forum-sidebar" class="col-md-3 forum-sidebar-wrap">
        <div class="forum-sidebar-header btn-group btn-breadcrumb">
            <a href=<%= forum_course_path %> class="btn btn-default"><i class="fa fa-fw fa-lg fa-home"></i></a>
            <a href=<%= forum_course_path %> class="btn btn-default"><%= t :forum %></a>
        </div>

        <div id="forum-sidebar-content" class="forum-sidebar-content">
          <%= render partial: 'nodes/index.html.erb' %>
        </div>

        <div class="forum-sidebar-footer">

          <div class="btn-group btn-group-justified">
            <% if current_user && current_user.creator_of_course?(params[:id]) %>
              <%= link_to fa_icon('plus-circle', text: t(:new_board), class: 'fa-fw'), new_course_node_path(course_id: params[:id], father_id: -1), class: 'btn btn-default', remote: true %>
            <% end %>
            <%= link_to fa_icon('twitch', text: t(:new_post), class: 'fa-fw', right: true), new_course_topic_path(course_id: params[:id], node_id: -1), class: 'btn btn-default', remote: true %>
          </div>

        </div>

      </div>

      <div class="col-md-8 forum-content-wrap paper has-shadow">
        <div id="forum-content" class="forum-content">
          <h1>hi every one</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consequatur sed nam! Aliquam ea animi expedita possimus molestias quos, veniam aliquid consequatur, numquam, suscipit ab! Saepe pariatur magni, nemo sapiente.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptate odit illo quos culpa nobis maxime ducimus quia nisi magni nostrum rem, totam. Facilis sunt dolore, nostrum necessitatibus tenetur ut.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, harum totam enim, tempore dicta distinctio doloremque consequuntur fuga quidem commodi, itaque iste et aperiam error earum nulla quis quibusdam.</p>
        </div>
      </div>

    </div>

  </div>
