<!DOCTYPE html>
<html>
<head>
  <title>乐学网 - 哈工大交互式网络教学平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    body, html {
      height: 100%;
    }
  </style>
</head>
<body>

  <%= render 'shared/navbar.html.erb' %>

  <div class="container">
    <div class="row">
      <div id="course-info">
        <%= render partial: 'header.html.erb' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= render partial: 'nav.html.erb' %>
    </div>
    <hr>
    <div class="row">
      <div id="forum-sidebar" class="col-md-3 forum-sidebar-wrap">
        <div class="forum-sidebar-header btn-group btn-breadcrumb">
            <a href=<%= forum_course_path %> class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">讨论专区</a>
        </div>
        <div class="forum-sidevar-content">
          <% @nodes.each do |node| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-fw fa-lg fa-comments-o"></i>
                  <%= link_to node.name, node_path(id: node.id) %>
                  <%= link_to fa_icon('plus'), new_node_path(current_course: params[:id], current_father: node.id), class: 'btn btn-sm btn-default pull-right' %>
              </div>
              <% if node.child_count > 0 %>
                <ul class="list-group">
                  <% node.children.each do |sub| %>
                    <li class="list-group-item"><%= link_to sub.name, node_path(id: sub.id) %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="forum-sidebar-footer">
          


          <%= link_to '新建大讨论区', '#', id: 'new_node', class: 'btn btn-primary btn-block', data_href: new_node_path(current_course: params[:id], current_father: -1) %>
        </div>
      </div>

      <div class="col-md-8 forum-content-wrap paper has-shadow">
        <div id="forum-content" class="forum-content">
          <h1>hi every one</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consequatur sed nam! Aliquam ea animi expedita possimus molestias quos, veniam aliquid consequatur, numquam, suscipit ab! Saepe pariatur magni, nemo sapiente.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptate odit illo quos culpa nobis maxime ducimus quia nisi magni nostrum rem, totam. Facilis sunt dolore, nostrum necessitatibus tenetur ut.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, harum totam enim, tempore dicta distinctio doloremque consequuntur fuga quidem commodi, itaque iste et aperiam error earum nulla quis quibusdam.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="container">
    <%= render 'shared/footer.html.erb' %>
  </div>

</body>
</html>