<!DOCTYPE html>
<html>
<head>
  <title>乐学网 - 哈工大交互式网络教学平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    body, html {
      height: 100%;
    }
  </style>
</head>
<body>

  <%= render 'shared/navbar.html.erb' %>

  <div class="container">
    <div class="row">
      <div id="course-info">
        <%= render partial: 'header.html.erb' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= render partial: 'nav.html.erb' %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Snippets</a>
            <a href="#" class="btn btn-default">Breadcrumbs</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <% if @nodes %>
          <% @nodes.each do |node| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-fw fa-lg fa-comments-o"></i>
                <%= link_to node.name, node_path(id: node.id) %>
                <%= link_to '新建小讨论区', new_node_path(current_course: params[:id], current_father: node.id), class: 'btn btn-default' %>
              </div>
              <% if node.child_count > 0 %>
                <ul class="list-group">
                  <% node.children.each do |sub| %>
                    <li class="list-group-item"><%= link_to sub.name, node_path(id: sub.id) %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= link_to '新建大讨论区', new_node_path(current_course: params[:id], current_father: -1), class: 'btn btn-primary' %>
      </div>
      <div class="col-md-8 forum-content modal">
        <div class="modal-dialog">
          asdf
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'shared/footer.html.erb' %>
  </div>

</body>
</html>