<div class="row">

  <div class="col-md-3">
    <div class="panel-group" id="mainlist">

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseOne">
              <span class="glyphicon glyphicon-th-large"></span> 总览
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-book"></span><a href="#"> 课程信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-pencil"></span><a href="#"> 作业管理</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list-alt"></span><a href="#"> 统计信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-off"></span><a href="#"> 登出</a></td></tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseTwo">
              <span class="glyphicon glyphicon-tags"></span> 成绩管理
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseTwo">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-tasks"></span><a href="<%= course_items_path(course_id: params[:id]) %>"> 设置分数项</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-tower"></span><a href="<% grade_course_path(id: params[:id]) %>"> 评分</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list"></span><a href="#"> 查看报表</a></td></tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-9">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <% if @users %>
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>成绩</th>
                <th>选项</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= user.username %></td>
                  <td><%= user.realname %></td>
                  <td><%= user.final(params[:id]).nil? ? 'Ungrade' : user.final(params[:id]) %></td>
                  <td>
                    <%= link_to (fa_icon 'envelope-o', text: 'Notifier', class: 'fa-fw'), '#', data: { confirm: "Do you want to send an email to #{user.email}?" }, class: 'btn btn-primary' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

</div>

